body {
    background-color: gray;
}

header.pageHeader {
    margin: 38%;
    margin-top: 0%;
    margin-bottom: 2%;
}

.list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;

}

.shop {
    border: 2px dotted rgb(168, 158, 160);
    flex-basis: 28%;
    padding: 0.2%;
}
